@font-face {
  font-family: "DejaVu-Sans";
  src: url("./assets/fonts/dejavu-sans/DejaVuSans-ExtraLight.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "DejaVu-Sans";
  src: url("./assets/fonts/dejavu-sans/DejaVuSans.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "DejaVu-Sans";
  src: url("./assets/fonts/dejavu-sans/DejaVuSans-Bold.ttf");
  font-weight: bold;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-text {
    font-family: "DejaVu-Sans", sans-serif;
  }
  html {
    @apply bg-slate-100 w-screen overflow-x-hidden;
  }
  body {
    @apply font-text text-sm lg:text-base;
  }

  a.active {
    @apply underline text-black font-bold;
  }

  a.menu-item.active {
    @apply text-gray-500;
  }

  textarea {
    field-sizing: content;
    @apply duration-300 transition p-2 rounded-md;
  }

  textarea:focus {
    @apply bg-slate-100;
  }
}

@layer components {
  /*Override Daysi Default style */
  .btn {
    @apply rounded-none;
  }
  .input-w-max {
    width: max-content !important;
  }

  .video-preview {
    position: relative;
    display: inline-block;
  }

  .video-preview::before,
  .video-preview::after {
    content: "";
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    pointer-events: none; /* Allow clicks to pass through */
    z-index: 10;
    height: 6px;
    border-radius: 10px;
  }

  .video-preview::before {
    left: 0;
    right: var(--start-time-percent);
  }

  .video-preview::after {
    left: var(--end-time-percent);
    right: 0;
  }

  .loader {
    --loader-size: 24px;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    animation: pulse 1s linear infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    width: var(--loader-size);
    height: var(--loader-size);
    border: 5px solid #fff;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: scaleUp 1s linear infinite;
  }

  @keyframes scaleUp {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    60%,
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  @keyframes pulse {
    0%,
    60%,
    100% {
      transform: scale(1);
    }
    80% {
      transform: scale(1.2);
    }
  }

  /* Video preview */
  .action {
    @apply absolute left-0 w-full z-10 text-xs;
  }

  .action.action--top {
    @apply top-0;
  }

  .action.action--bottom {
    @apply bottom-0;
  }

  .action .f-btn {
    @apply tooltip tooltip-left w-8 h-8 rounded-full bg-white/15 flex items-center justify-center cursor-pointer;
    @apply transition duration-300 ease-in-out;
    @apply hover:bg-white/20;
    @apply before:text-xs;
  }

  .slider {
    @apply h-full bg-white/50 rounded-md overflow-hidden border-2 border-black/50  relative;
  }

  .slider::before {
    @apply content-[''] absolute h-full top-0 left-0 bg-black/75;
    width: var(--start-time-position);
  }

  .slider::after {
    @apply content-[''] absolute h-full top-0 right-0 bg-black/75;
    width: var(--end-time-position);
  }

  .navbar-responsive__menu {
    @apply flex flex-col gap-4 text-white text-xl px-4 h-full text-center;
  }

  .navbar-responsive__menu .menu-item {
    @apply hover:bg-black/50 p-4 flex items-center justify-center rounded-none;
  }

  .navbar-responsive__menu .menu-item.primary {
    @apply hover:bg-primary;
  }

  .article--item {
    @apply w-full max-w-96 border-2 border-transparent mx-auto rounded-xl overflow-hidden cursor-pointer hover:shadow-xl hover:bg-white transition duration-300 ease-in-out;
  }

  .article--item .title {
    @apply font-bold text-sm md:text-base;
  }
}

.square {
  width: 48px;
  height: 48px;
  position: relative;
  transform: translateY(25%);
}

.moving-svg {
  width: 24px;
  height: 24px;
  position: absolute;
  animation: move-square 3s linear infinite;
}

@keyframes move-square {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 5px;
  }
  50% {
    top: 5px;
    left: 5px;
  }
  75% {
    top: 5px;
    left: 0;
  }
  100% {
    top: 0;
    left: 0;
  }
}

/** Override react date picker library */
.react-datepicker-wrapper {
  width: 100%;
}
