@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-Black.ttf");
  font-weight: 900;
}

/* Font Cascadia Code */

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/Cascadia\ Code/CascadiaCode-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/Cascadia\ Code/CascadiaCode-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/Cascadia\ Code/CascadiaCode-SemiBold.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Cascadia Code";
  src: url("./assets/fonts/Cascadia\ Code/CascadiaCode-Bold.ttf");
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-text bg-slate-100 min-h-screen;
  }
}

@layer components {
  .input-w-max {
    width: max-content !important;
  }

  .video-preview {
    position: relative;
    display: inline-block;
  }

  .video-preview::before,
  .video-preview::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    pointer-events: none; /* Allow clicks to pass through */
    z-index: 10;
  }

  .video-preview::before {
    left: 0;
    right: var(--start-time-percent);
  }

  .video-preview::after {
    left: var(--end-time-percent);
    right: 0;
  }
}
